* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  margin: 50px;
  background-color: black;
}

.tituloPrincipal {
  font-size: 8rem;
  font-family: Seven Swordsmen BB, system-ui, sans-serif;
  color: blanchedalmond;
}


.secundario {
  display: flex;
}

.listaCarpetas {
  list-style-type: none;
  background-color: black;
  width: 25%;
  height: calc(100vh - 8rem);
  position: sticky;
}

li a {
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 2rem;
  margin-top: 25px;
}

img {
  width: 200px;
}